.scroll-up{
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;

    width: 60px;
    height: 60px;

    color: #dcdcdc;
    cursor: pointer;
    visibility: hidden;
    border-radius: 60px;
    box-shadow: inset 0 0 0 5px #dcdcdc;

    opacity: 0;
    transition: .2s;
    transform: translateY(25px);
}
.scroll-up::before{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    font-size: 32px;
    content: '🠕';
}
.scroll-up:hover{
    color: #546747;
}

.scroll-up--active{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

}

.scroll-up__svg-path{
    box-sizing: border-box;
    fill: none;
    stroke: #546747;
    stroke-width: 5px;
    transition: .2s;
}
