html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*scrollbar-width: none;*/    /* ширина скроллбара. (auto, thin або none) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* скроллбар */
::-webkit-scrollbar {
  width: 18px;      /* ширина для вертикального скролла */
  /*height: 8px;*/  /* висота для горизонтального скролла */
  background-color: #bbc8ba;
}

/* повзунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #546747;
  border-radius: 2px;           /* заокруглення країв */
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b331f;
}
